.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-10px);
    transition: 1s;
}
.card{
    width: 15rem;
    padding: 0.5rem;
    color: rgba(20, 15, 15, 0.445);
    border-radius: 0;
    font-weight: bolder;
    /* border-color: black; */
}

.card-img-top{
    border: 1px solid rgba(0,0,0,.125);
}

.card-text{
    color: teal;
}